# Ignore configurations files
configurations/*/*.config

# Ignore all hide files/folders
.*

# Ignore Temporary File
*.tmp

# Ignore Configuration.ini
configuration.ini

# Ignore Logs
logs/*

# Except .git Files
!.gitignore
!.gitkeep
